#pokemon_back
{
	width:25%;
	margin-left: 1%;
}

#pokemon_form
{
	margin-left: 5%;
	font-family: helvetica;
	font-size: 16px;
}

#submit_button
{
	font-family: helvetica;
	position: relative;
	margin-left: 45%;
}

.top_text
{
	text-align: right;
}