body
{
	text-align: center;
	text-decoration: none;
}

tr
{
	width: 100%;
}

#pokemon_back
{
	width: 25%;
}

#person_table
{
	position: relative;
	width: 100%;
}

.person_box
{
	width: 50%;
	padding: 20px;
	font-family: helvetica;
	color: black;
}

.pokemon_box
{
	padding: 30px;
}

.people_pics
{
	position: relative;
	width: 100%;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.pokemon_pics
{
	border: none;
}

.people_text
{
	font-size: 40px;
}

.poke_name
{
	font-size: 25px;
}

.moves_table
{
	margin-left: 5%;
	margin-right: 5%;
}

.move
{
	font-size: 20px;
	border-style: solid;
	border-width: 2px;
	padding: 2px;
	border-color: black;
}

.ghost
{
	background-color: purple;
	color: white;
}

.fighting
{
	background-color: orange;
	color: black;
}

.electric
{
	background-color: yellow;
	color: black;
}

.psychic
{
	background-color: pink;
	color: black;
}

.fire
{
	background-color: red;
	color: black;
}

.grass
{
	background-color: green;
	color: white;
}

.water
{
	background-color: blue;
	color: black;
}

.ice
{
	background-color: rgb(40,244,255);
	color: black;
}

.ground
{
	background-color: rgb(160,97,10);
	color: white;
}

.dark
{
	background-color: black;
	color: white;
}

.rock
{
	background-color: rgb(183,163,21);
	color: black;
}

.dragon
{
	background-color: rgb(142,2,236);
	color: white;
}

.bug
{
	background-color: rgb(122,172,17);
	color: white;
}

.poison
{
	background-color: rgb(156,19,185);
	color: white;
}

.normal
{
	background-color: white;
	color: black;
}

.flying
{
	background-color: rgb(175,226,254);
	color: black;
}

.steel
{
	background-color: rgb(178,178,178);
	color: black;
}