html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
}

h1
{
	font-size: 20 px;
	font-family: helvetica;
	color: black;
	text-shadow: 2px 2px 3px #F6FF00;
}

body
{
	left: 40%;
	background-color: #00FFFB;
	position: relative;
}

.middle_button
{
	border: none;
	width:350px;
	height:150px;
	background-image: url('button_resume.png');
}

.middle_button:hover
{
	background-image: url('button_resume_highlight.png');
}