html
{
	height: 100%;
}

body
{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#map_canvas
{
	position: absolute;
	display: block;
	height: 100%;
	width: 75%;
	margin: 0px;
	padding: 0px;
}

#text
{
	height: 100%;
	font-family: helvetica;
	font-size: 20px;
	margin: 40px;
}